header{
    width: 90%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

}

#logo{
    width: 30%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    

  


}
#cabecario{
    width: 40%;
    height: 80%;

    background-color: blueviolet;
}

#icone_logo{
    width: 4vw;
    height: 4vw;
    background-image: url(./../assets/img_principal2.png);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    margin-right: 3vw;
}

#profissao{
    width: 80%;
    height: 80%;
    font-family:monospace;
    font-size: 0.65;

    display: flex;
    align-items: center;


}

#btns_cabecario{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    background-color: rgb(167, 104, 226);
}

.btn_cabecario{
    width: 30%;
    height: 80%;

    background-color: rgb(121, 51, 187);
}

