header{
    width: 90%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

}

#logo{
    width: 30%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    

  


}
#cabecario{
    width: 40%;
    height: 80%;

    background-color: blueviolet;
}

#icone_logo{
    width: 4vw;
    height: 4vw;
    background-image: url(./../assets/img_principal2.png);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    margin-right: 3vw;
}

#profissao{
    width: 80%;
    height: 80%;
    font-family:monospace;
    font-size: 0.65;

    display: flex;
    align-items: center;

    color: white;


}
#btns_paginas {
    display: flex;
    gap: 3vw; 
    margin-right: 5%;
}

button.btn {
    height: auto;
    padding: 1vw 2vw;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0); 
    text-align: center;
    font-size: 1.2vw; 
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold; 
}

button.btn:hover, button.btn:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    transform: scale(1.05);
}


#btn_home {
    background-color: #FC9D10;
}

#btn_formacao {
    background-color: #FC9D10;
}


#btn_projetos {

    background-color: #FC9D10;
}