header{
    width: 90%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

}

#logo{
    width: 30%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    

  


}
#cabecario{
    width: 40%;
    height: 80%;

    background-color: blueviolet;
}

#icone_logo{
    width: 4vw;
    height: 4vw;
    background-image: url(./../assets/img_principal2.png);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    margin-right: 3vw;
}

#profissao{
    width: 80%;
    height: 80%;
    font-family:monospace;
    font-size: 0.65;

    display: flex;
    align-items: center;

    color: white;


}
#btns_paginas {
    display: flex;
    gap: 3vw; 
    margin-right: 5%;
}

button.btn {
    height: auto;
    padding: 1vw 2vw;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0); 
    text-align: center;
    font-size: 1.2vw; 
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold; 
}

button.btn:hover, button.btn:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    transform: scale(1.05);
}


#btn_home {
    background-color: #FC9D10;
}

#btn_formacao {
    background-color: #FC9D10;
}


#btn_projetos {

    background-color: #FC9D10;
}

@media (max-width: 480px) {
    /* Aplica os estilos a todos os elementos dentro desse bloco somente em telas com largura máxima de 480px */
    
    html, body {
        overflow: hidden; /* Impede a rolagem na tela para baixo ou para os lados */
    }

    header {
        height: auto; /* Define a altura do header como automática */
        flex-direction: column; /* Organiza o conteúdo do header em uma coluna */
        padding: 5%; /* Espaçamento interno de 5% em todos os lados do header */
        align-items: center; /* Centraliza o conteúdo dentro do header */
    } 

    #logo {
        width: 100%; /* Define a largura da logo para ocupar 100% da área disponível */
        height: auto; /* Ajusta automaticamente a altura da logo */
        display: flex;
        justify-content: center; /* Alinha a logo horizontalmente no centro */
        margin-bottom: 10px; /* Espaçamento inferior para separação */
    }

    #profissao {
        font-size: 12px; /* Ajusta o tamanho da fonte */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 10px; /* Espaçamento inferior para separação */
    }

    #btns_paginas {
        width: 100%; /* Define a largura do contêiner de botões */
        display: flex;
        flex-direction: row; /* Alinha os botões em linha */
        justify-content: center; /* Centraliza os botões horizontalmente */
        align-items: center; /* Alinha os botões verticalmente no centro */
        margin-top: 10px; /* Espaçamento superior para separar do texto */
    }

    .btn h1 {
        display: none; /* Esconde o texto dos botões */
    }

    .btn i {
        font-size: 20px; /* Define o tamanho do ícone */
    }

    .btn {
        width: 50px; /* Ajusta a largura dos botões */
        height: 50px; /* Ajusta a altura dos botões */
        justify-content: center; /* Centraliza o conteúdo dos botões */
        align-items: center; /* Alinha os botões verticalmente */
        margin: 0 5px; /* Espaço entre os botões */
    }

    #icone_logo {
        width: 20vw; /* Define a largura do ícone da logo */
        height: 20vw; /* Define a altura do ícone da logo */
    }
}
