
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url(./header.css);
@import url(./section.css);
@import url(./footer.css);

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background-color: rgb(32, 28, 28);
}
/*   amarelo: #FC9D10; 
cinza: #56598E; 
roxo forte: #A8308B;
preto: #000000;
*/